<template>
    <div class="card">
        <div class="card-header">¿En que estas pensando ahora?</div>

        <div class="card-body">
            <form action="" v-on:submit.prevent="nuevaTarea()" autocomplete="off">
                <div class="form-group">
                    <label for="">Ahora estoy pensando en:</label>
                    <input type="text" class="form-control" name="txt_tarea" v-model="txt_tarea">
                </div>
                <button type="submit" class="btn btn-primary">Enviar Pensamiento</button>
            </form>
        </div>
    </div>
</template>

<script>
    export default {
        data(){
            return{
                txt_tarea:'',
            }
        },
        mounted() {
            console.log('Component mounted.')
        },
        methods:{
            nuevaTarea(){
                const params = {
                    description:this.txt_tarea
                }

                this.txt_tarea = '';

                axios.post('/tareas', params)
                    .then((response) => {
                        const tarea = response.data;
                        this.$emit('new', tarea); //GENERA UN EVENTO
                    });

            }
        }
    }
</script>
