<template>
    <div class="row justify-content-center">
        <div class="col-md-8">

            <form-component @new="addTarea"></form-component> 

            <br>

            <tarea-component 
                v-for="(tarea, index) in tareas" 
                :key="tarea.id"
                :tarea="tarea"
                @update="updateTarea(index, ...arguments)"
                @delete="deleteTarea(index)">
            </tarea-component> 

        </div>
    </div>
</template>

<script>
    export default {
        data(){
            return{
                tareas:[]
            }
        },

        mounted() {
            axios.get('/tareas').then((response) =>{
                this.tareas = response.data;
            })
        },

        methods:{
            addTarea(tarea){
                //agrega un nuevo campo al arreglo
                this.tareas.push(tarea);
            },
            updateTarea(index, tarea){
                //splice elimina un elemento segun el indice
                this.tareas[index] = tarea;
            },
            deleteTarea(index){
                //splice elimina un elemento segun el indice
                this.tareas.splice(index, 1);
            }
        }
    }
</script>
