<template>
    <div class="card">
        <div class="card-header">Publicado en {{ tarea.created_at }} - Ùltima actualizaciòn {{ tarea.updated_at }}</div>

        <div class="card-body">
            <input v-if="editMode" type="text" class="form-control" v-model="tarea.description">
            <p v-else>{{ tarea.description }}</p>
        </div>

        <div class="card-footer">
            <button  v-if="editMode" v-on:click="onClickUpdate" class="btn btn-success">Guardar</button>
            <button v-else v-on:click="onClickEdit" class="btn btn-warning">Editar</button>
            <button v-on:click="onClickDelete" class="btn btn-danger">Eliminar</button>
        </div>
    </div>
</template>

<script>
    export default {
        props:['tarea'],
        
        data(){
            return{
                editMode:false
            }
        },

        mounted() {
            console.log('Component mounted.')
        },

        methods:{
            onClickDelete(){
                axios.delete(`/tareas/${this.tarea.id}`).then(() => {               
                    this.$emit('delete');
                });
            },
            onClickEdit(){
                this.editMode = true;
            },
            onClickUpdate(){
                const params = {
                    description : this.tarea.description
                };

                axios.put(`/tareas/${this.tarea.id}`, params).then((response) => {
                    this.editMode = false;          
                    const tarea = response.data;          
                    this.$emit('update',tarea);                
                });

            }
        }
    }
</script>
